@font-face {
    font-family: Georgia;
    src: url(../../assets/fonts/Georgia/static/NotoSansGeorgian/NotoSansGeorgian-Regular.ttf);
}
  
@font-face {
    font-family: Arial;
    src: url(../../assets/fonts/Arial/ArialMT.woff);
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper-1 {
    background: #FFFFFF;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% auto;
}
  
.header_logo h1 {
    margin: 0;
}
  
.header_logo a {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    text-decoration: none;
}
  
.header_logo p {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 115%;
    letter-spacing: 0.1em;
    color: #292929;
}
  
.header_burger {
    display: none;
}
  
.header_menu {
    display: flex;
    list-style: none;
    gap: 3vw;
}
  
.header_menu a {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 160%;
    color: #292929;
    text-decoration: none;
}
  
.header_menu a:hover {
    color: #545454;
}
  
.header_menu_a-current {
    border-bottom: 3px solid #F1CDB3;
}
  
.header_menu_a-current a {
    color: #545454;
    cursor: default;
}

.wrapper-2 {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-friends {
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
    margin: 7% auto;
}

.our-friends h3 {
    width: 30%;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    margin: 0;
}

.our-friends_animals {
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.our-friends_animals div {
    width: 20%;
}

.our-friends_animals img {
    width: 100%;
}

.our-friends_animals_katrine {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
}

.our-friends_animals_katrine:hover {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our-friends_animals_katrine:hover button {
    background-color: #FDDCC4;
}

.our-friends_animals_katrine p {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.our-friends_animals_katrine button {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 3vh;
}

.our-friends_animals_katrine button:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.our-friends_animals_jennifer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
}

.our-friends_animals_jennifer:hover {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our-friends_animals_jennifer:hover button {
    background-color: #FDDCC4;
}

.our-friends_animals_jennifer p {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.our-friends_animals_jennifer button {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 3vh;
}

.our-friends_animals_jennifer button:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.our-friends_animals_woody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
}

.our-friends_animals_woody:hover {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our-friends_animals_woody:hover button {
    background-color: #FDDCC4;
}

.our-friends_animals_woody p {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.our-friends_animals_woody button {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 3vh;
}

.our-friends_animals_woody button:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.our-friends_animals_sophia {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
}

.our-friends_animals_sophia:hover {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our-friends_animals_sophia:hover button {
    background-color: #FDDCC4;
}

.our-friends_animals_sophia p {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.our-friends_animals_sophia button {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 3vh;
}

.our-friends_animals_sophia button:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.our-friends_animals_timmy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
}

.our-friends_animals_timmy:hover {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our-friends_animals_timmy:hover button {
    background-color: #FDDCC4;
}

.our-friends_animals_timmy p {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.our-friends_animals_timmy button {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 3vh;
}

.our-friends_animals_timmy button:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.our-friends_animals_charly {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
}

.our-friends_animals_charly:hover {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our-friends_animals_charly:hover button {
    background-color: #FDDCC4;
}

.our-friends_animals_charly p {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.our-friends_animals_charly button {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 3vh;
}

.our-friends_animals_charly button:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.our-friends_animals_scarlett {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
}

.our-friends_animals_scarlett:hover {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our-friends_animals_scarlett:hover button {
    background-color: #FDDCC4;
}

.our-friends_animals_scarlett p {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.our-friends_animals_scarlett button {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 3vh;
}

.our-friends_animals_scarlett button:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.our-friends_animals_freddie {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
}

.our-friends_animals_freddie:hover {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our-friends_animals_freddie:hover button {
    background-color: #FDDCC4;
}

.our-friends_animals_freddie p {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.our-friends_animals_freddie button {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 3vh;
}

.our-friends_animals_freddie button:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.our-friends_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.our-friends_buttons_button_left1, .our-friends_buttons_button_left2 {
    width: 52px;
    height: 52px;
    border: 2px solid #CDCDCD;
    border-radius: 100px;
}

.our-friends_buttons_button1 {
    width: 52px;
    height: 52px;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
    background-color: #FDDCC4;
}

.our-friends_buttons_button_right1, .our-friends_buttons_button_right2 {
    width: 52px;
    height: 52px;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
}

.our-friends_buttons_button_right1:hover, .our-friends_buttons_button_right2:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.wrapper-3 {
    background: url(../../assets/images/footer-background.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
  
.footer {
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}
  
.footer_for-questions {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vh;
}
  
.footer_for-questions h3 {
    width: 90%;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 0;
}
  
.footer_for-questions h4 {
    display: flex;
    margin: 0;
}
  
.footer_for-questions a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}
  
.footer_we-are-waiting {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vh;
}
  
.footer_we-are-waiting h3 {
    width: 90%;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 0;
}
  
.footer_we-are-waiting h4 {
    display: flex;
    margin: 0;
}
  
.footer_we-are-waiting a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
   .our-friends h3 {
       width: 45%;
   }

   .our-friends_animals {
       gap: 3vw;
   }

   .our-friends_animals div {
       width: 35%;
   }

   .our-friends_animals_scarlett {
       display: none;
   }

   .our-friends_animals_freddie {
       display: none;
   }

   .our-friends_buttons {
        gap: 2vw;
   }

   .footer {
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 5vh 5vw;
  }

  .footer_for-questions {
        width: 40%;
  }

  .footer_we-are-waiting {
        width: 45%;
        gap: 3.4vh;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header_burger {
        display: inline-block;
    }

    .header_menu {
        display: none;
    }

    .our-friends h3 {
        width: 90%;
        font-size: 25px;
    }

    .our-friends_animals {
        flex-direction: column;
        gap: 3vh;
    }

    .our-friends_animals div {
        width: 90%;
    }

    .our-friends_animals_sophia {
        display: none;
    }

    .our-friends_animals_timmy {
        display: none;
    }

    .our-friends_animals_charly {
        display: none;
    }

    .our-friends_animals_scarlett {
        display: none;
    }

    .our-friends_animals_freddie {
        display: none;
    }

    .footer {
        flex-direction: column;
        gap: 5vh;
    }
    
    .footer_for-questions {
        width: 90%;
        align-items: center;
    }
    
    .footer_for-questions h3 {
        width: 80%;
        font-size: 25px;
        text-align: center;
    }
    
    .footer_we-are-waiting {
        width: 90%;
        align-items: center;
    }
    
    .footer_we-are-waiting h3 {
        width: 80%;
        font-size: 25px;
        text-align: center;
    }
    
    .footer_dog {
        width: 90%;
    }
}